@import "../../globalcolor.scss";
.contact{
    background-color: bisque;
    display: flex;
    padding: 10px;
    height: 75vh;
    width: 100%;
    @include mobile{
        flex-direction: column;
    }
    .left{
        flex: 1;
        display: flex;
       
        align-items: center;
        justify-content: space-around;
        border: 4px solid crimson;
        border-radius: 10px;
        
        img{
            height: 100%;
            display: flex;
            padding: 19px;
        }
    }
    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 4px solid crimson;
        border-radius: 10px;
        h1{
            font-size: 35px;
        }
        form{
            width: 90%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            input{
                width: 300px;
                height: 30px;
                font-size: 16px;
                @include mobile{
                    width: 200px;
                    height: 20px;
                }
            }
            textarea{
                width: 300px;
                height: 180px;
                font-size: 14px;
                @include mobile{
                    width: 200px;
                    height: 100px;
                }
            }
            button{
                width: 150px;
                height: 30px;
                color: white;
                background-color: crimson;
                border: none;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
        }
        span{
            color: green;
        }
    }
    
}

.colorfoot{
    padding-top: 10px;
    background-color: $maincolor;
    color: white;
    text-decoration: none;
}
.facebookcol{
    color: #4267B2;
}
.facebookcol:hover{
    color: white;
}
.twittercol{
    color: #1DA1F2;
}
.twittercol:hover{
    color: white;
}
.linkedincol{
    color: #dd5143;
}
.linkedincol:hover{
    color: white;
}
.instacol{
    color: #833AB4;
}
.instacol:hover{
    color: white;
}
a{
    text-decoration: none;
    color: rgb(50, 202, 126);
}
h5{
    font-size: 20px;
}